<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <style></style>
</head>
<body>
    <script src={{script}} ></script/>
    <script src="paypal-example.js"></script>
    <div id="app">
      <div id="paypal-button-container"></div>
    </div>
</body>
</html>
